python-telegram-bot[job-queue]>=21.0
pymongo>=4.6.1
cryptography>=42.0.5
base58>=2.1.1
mnemonic>=0.20
flask[async]
httpx>=0.27.0
requests>=2.31.0
web3>=6.15.1
python-dotenv>=1.0.1
solders>=0.20.0
solana>=0.30.0
python-telegram-bot[webhooks]
gunicorn>=22.0.0