python-telegram-bot[job-queue]
httpx
requests
base58
mnemonic
pymongo
cryptography
fastapi==0.110.0
uvicorn==0.29.0
gunicorn==21.2.0
solana>=0.36.0
solders>=0.18.1
web3
python-dotenv
structlog
bip44
bip-utils==2.9.3
bip32utils
pandas
numpy
